html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #4F5665;
  font-weight: 400;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #0B132A;
  font-weight: bold;
}

.heading {
  font-size: 35px;
  font-weight: 500;
  line-height: calc(50 / 35);
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 384px;
}

.text {
  line-height: calc(30 / 16);
}

.text-medium {
  font-weight: 500;
}

.text-small {
  font-size: 14px;
  line-height: calc(30 / 14);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 50px;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  text-align: center;
  white-space: nowrap;
}
.btn--primary {
  font-weight: 700;
  color: white;
  background-color: #F53838;
}
.btn--outline {
  background-color: transparent;
  color: #F53838;
  font-weight: 500;
  border: 1px solid;
}
.btn--rounded {
  border-radius: 10px;
  padding: 17px 65px;
}
.btn--shadow {
  position: relative;
}
.btn--shadow::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: 10px;
  transform: translate(-50%, 50%);
}

.boxed {
  max-width: 555px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .btn {
    padding: 13px 26px;
  }
}
.header {
  padding-top: 50px;
  padding-bottom: 90px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
  text-transform: capitalize;
}
.header-signin {
  font-weight: 500;
  color: #0B132A;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 25px 0 45px;
  }

  .header-auth {
    display: none;
  }
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
  display: inline-block;
}
.menu-toggle {
  display: none;
  width: 30px;
  height: 20px;
}
.menu-toggle span {
  pointer-events: none;
  width: 100%;
  height: 3px;
  background-color: #0B132A;
  display: block;
}

@media (hover: hover) {
  .menu-link {
    position: relative;
    transition: all 0.2s linear;
  }
  .menu-link:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: auto;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #F53838;
    transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .menu-link:hover {
    color: #F53838;
  }
  .menu-link:hover:after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
@media screen and (min-width: 768px) {
  .menu-item--auth {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 300px;
    z-index: 99;
    border-left: 1px solid #4F5665;
    flex-direction: column;
    gap: 10px 0;
    padding-top: 60px;
    align-items: stretch;
    transform: translateX(100%);
    will-change: transform;
    transition: all 0.2s linear;
  }
  .menu.is-show {
    transform: translateX(0);
  }

  .menu-link {
    display: block;
    width: 100%;
    padding: 20px;
  }

  .menu-toggle {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .menu-item--auth {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
  }
}
.hero {
  padding-bottom: 100px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 40px;
  position: relative;
}
.hero-content {
  width: 100%;
  max-width: 555px;
}
.hero-heading {
  font-size: 50px;
  font-weight: 500;
  line-height: calc(70 / 50);
  color: #0B132A;
  margin-bottom: 20px;
}
.hero-desc {
  line-height: calc(30 / 16);
  margin-bottom: 50px;
}
.hero-desc strong {
  font-weight: 500;
}

@media screen and (min-width: 1280px) {
  .hero-image {
    position: absolute;
    top: 50%;
    transform: translate(40px, -50%);
    right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .hero {
    padding-bottom: 50px;
  }

  .hero-heading {
    font-size: 35px;
  }

  .hero-desc {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .hero-container {
    flex-direction: column-reverse;
    gap: 25px 0;
  }
}
.intro {
  padding-bottom: 95px;
}
.intro-container {
  min-height: 200px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 37px 0;
  box-shadow: 0 42px 114px rgba(13, 16, 37, 0.06);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.intro-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 36.5px;
  font-size: 20px;
}
.intro-title {
  font-size: 25px;
  margin-bottom: 5px;
  line-height: calc(30 / 25);
}
.intro-text {
  line-height: calc(30 / 20);
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 768px) {
  .intro-item:nth-child(2) {
    border-left: 2px solid #EEEFF2;
    border-right: 2px solid #EEEFF2;
  }
}
@media screen and (max-width: 767px) {
  .intro-container {
    grid-template-columns: 1fr;
    padding: 25px;
  }

  .intro-item {
    flex-direction: column;
    gap: 15px 0;
    text-align: center;
    margin-bottom: 20px;
  }
}
.future {
  padding-bottom: 130px;
}
.future-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0 170px;
}
.future-text {
  margin-bottom: 20px;
}
.future-list {
  list-style: none;
}
.future-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  font-size: 14px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1023px) {
  .future {
    padding-bottom: 65px;
  }

  .future-container {
    align-items: center;
    gap: 0 40px;
  }
}
@media screen and (max-width: 767px) {
  .future-container {
    flex-direction: column;
    gap: 20px 0;
  }
}
.plan {
  padding: 80px 0 35px;
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}
.plan-container {
  margin-bottom: 150px;
}
.plan-header {
  margin-bottom: 60px;
}
.plan-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 50px;
}
.plan-image img {
  margin: 0 auto;
}
.plan-item {
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 80px 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan-heading {
  font-size: 18px;
  font-weight: 500;
  line-height: calc(30 / 18);
  margin: 30px 0;
}
.plan-list {
  list-style-type: none;
}
.plan-info {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin-bottom: 10px;
  font-size: 14px;
}
.plan-info span {
  line-height: calc(30 / 14);
}
.plan-info:last-child {
  margin-bottom: 50px;
}
.plan-pricing {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: auto;
}
.plan .btn {
  width: 100%;
}

.plan-item.is-active {
  border: 2px solid #F53838;
}

.plan-item:hover {
  border: 2px solid #F53838;
}
.plan-item:hover .btn {
  background-color: #F53838;
  color: white;
}

.network-header {
  margin-bottom: 155px;
}

@media screen and (max-width: 1023px) {
  .plan {
    padding: 40px 0 18px;
  }

  .plan-container {
    margin-bottom: 75px;
  }

  .plan-main {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 310px;
    grid-auto-flow: column;
    grid-gap: 0 30px;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
    margin-bottom: 50px;
  }

  .plan-main::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .plan-main > * {
    scroll-snap-align: start;
  }

  .network-header {
    margin-bottom: 80px;
  }
}
.partner {
  margin-bottom: 50px;
}
.partner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 60px;
}

@media screen and (max-width: 1023px) {
  .parner {
    padding-bottom: 25px;
  }

  .partner-container {
    gap: 0 30px;
  }
}
.customer-header {
  margin-bottom: 60px;
}
.customer-item {
  padding: 30px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  margin: 0 25px;
}
.customer-item.slick-current.slick-active {
  border-color: #F53838;
}
.customer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.customer-info {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.customer-avatar {
  width: 50px;
  height: 50px;
}
.customer-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.customer-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.customer-address {
  line-height: 1;
}
.customer-rating {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.customer .slick-track {
  display: flex;
  padding-bottom: 60px;
}
.customer .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  z-index: 10;
}
.customer .slick-prev {
  background-color: transparent;
  border: 2px solid #F53838;
  right: 80px;
}
.customer .slick-next {
  background-color: #F53838;
  right: 0;
}
.customer .slick-dots {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0 15px;
  transform: translateY(50%);
}
.customer .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #DDE0E4;
  transition: all 0.2s linear;
}
.customer .slick-dots .slick-active button {
  width: 45px;
  background-color: #F53838;
}

@media screen and (max-width: 1023px) {
  .customer .slick-track {
    padding-bottom: 20px;
  }
  .customer .slick-dots {
    justify-content: center;
  }

  .customer-list {
    padding-bottom: 50px;
  }
}
.subscribe-container {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 40px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 30px 114px rgba(13, 16, 37, 0.06);
  border-radius: 10px;
}
.subscribe-content {
  max-width: 370px;
}

@media screen and (min-width: 1024px) {
  .subscribe {
    transform: translateY(50%);
  }
}
@media screen and (max-width: 767px) {
  .subscribe-container {
    flex-direction: column;
    gap: 30px 0;
  }
}
.footer {
  padding: 180px 0 100px;
  background: #fbfbfb;
}
.footer-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 0 126px;
}
.footer-desc {
  max-width: 340px;
  margin: 20px 0 30px;
}
.footer-social {
  display: flex;
  align-items: center;
}
.footer-heading {
  font-size: 18px;
  font-weight: 500;
  line-height: calc(30 / 18);
  margin-bottom: 20px;
}
.footer-links {
  list-style: none;
}
.footer-item {
  margin-bottom: 10px;
}
.footer-link {
  color: #4F5665;
  font-size: 14px;
  line-height: calc(30 / 16);
}

.copy-right {
  color: #AFB5C0;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 90px 0 50px;
  }

  .footer-container {
    grid-gap: 0 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }
}

/*# sourceMappingURL=app.css.map */
