.future {
    padding-bottom: 130px;
    &-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 0 170px;
    }
    &-text {
        margin-bottom: 20px;
    }
    &-list {
        list-style: none;
    }
    &-item {
        display: flex;
        align-items: center;
        gap: 0 10px;
        font-size: 14px;
        margin-bottom:15px;
    }
}
@media screen and (max-width: 1023px){
    .future {
        padding-bottom: 65px;
    }
    .future-container {
        align-items: center;
        gap: 0 40px;
    }
}

@media screen and (max-width: 767px){
    .future-container {
        flex-direction: column;
        gap: 20px 0;
    }

}