body {
    font-family: $font;
    font-size: 16px;
    line-height: 1;
    color: $text-color;
    font-weight: 400;
    background-color:white;
}
h1,h2,h3,h4,h5,h6 {
    color: $heading-color;
    font-weight:bold
}
.heading {
    font-size: 35px;
    font-weight: 500;
    line-height: calc(50 / 35);
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 384px;
}
.text {
    line-height: calc(30 / 16);
}
.text-medium {
    font-weight: 500;
}

.text-small {
    font-size: 14px;
    line-height: calc(30 / 14);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding : 0 15px
}

.btn {
    display: inline-block;
    padding: 13px 45px;
    border-radius: 50px;
    font-family: $font;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    border : none;
    text-align: center;
    white-space: nowrap;
    &--primary {
        font-weight: 700;
        color: white;
        background-color: $primary-color;
    }
    &--outline  {
        background-color: transparent;
        color : $primary-color;
        font-weight: 500;
        border: 1px solid;
    }
    &--rounded {
        border-radius: 10px;    
        padding: 17px 65px;
        // box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35) ;
        
    }
    &--shadow {
        position: relative;
        &::after {
                content: '';
                position: absolute;
                width: 90%;
                height: 100%;
                top: 0;
                left: 50%;
                background: rgba(245, 56, 56, 0.35);
                filter: blur(54px);
                border-radius: 10px;
                transform: translate(-50%,50%);
            }
    }
}
.boxed {
    max-width: 555px;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 767px){
    .btn {
        padding: 13px 26px;
    }
    
}